
@font-face {
    font-family: calibri;
    src: url(calibri.ttf);
}


.body{
    color: #000;
    -webkit-text-stroke: 0px;
}

.skin-blue .main-header .navbar {
    background-color: #64d087;
}

.skin-blue .main-header .logo {
    font-family: calibri, Times New Roman;
    font-weight: bold;
    font-size: 24pt;
    background-color: #64d087;
    width:300px;
}

.skin-blue .main-header .navbar{
    margin-left:350px;
}

.skin-blue .main-header .logo:hover {
    background-color: #356c47;
}


.skin-blue .main-header .navbar .sidebar-toggle {
    background-color: #64d087;
    width:50px;
    margin-left: -50px;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #356c47;
}


.main-sidebar {
    background-color: #333333;
}

.skin-blue .content-wrapper {
    background-color: #000000;
}

.skin-blue .wrapper {
    background-color: #000000;
}

.irs-bar {
    background-color: #64d087;
}

.irs-bar-edge {
    background-color: #64d087;
}

.irs-single {
    background-color: #64d087;
    color: #000000;
}
